.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *:after, *:before {
    box-sizing: border-box;
}

input[type=search] {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-bottom: 2px solid grey;
    width: 100%;
}

